/* simple reset */

* {
    padding: 0;
    margin: 0;
}


/* iconfont图标 */

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    height: 100%;
    /* 一屏幕高 */
    overflow: hidden;
}

body.dark-model {
    color: white;
    background-color: black;
}


/* 增加动画过度 */

body {
    transition: color 300ms, background-color 300ms;
}